In [1]:
import sys
path = '/home/aiuser/work/sugar_ai'
if path not in sys.path:
    sys.path.append(path)

from DataBuilder.technical.builder import SugarTechnicalBuilder

SugarTechnicalBuilder().run()

初始化 2025-04-15, 数据获取周期: 2024-04-20 至 2025-04-15, 数据存储周期: 2025-03-16 至 2025-04-15
获取原始数据: 2024-04-20, 2025-04-15, 耗时: 0:00:00.206229
存储数据, 2025-04-15, 耗时: 0:00:00.019654

In [3]:
import dai

dai.query("select date, instrument, net_profit_lf_yoy from cn_stock_prefactors where date>'2025-01-01'").df()

             date instrument  net_profit_lf_yoy
0      2025-02-05  002859.SZ           1.027293
1      2025-02-05  002873.SZ           0.695458
2      2025-02-05  002875.SZ                NaN
3      2025-02-05  002929.SZ           0.682328
4      2025-02-05  002932.SZ           0.341414
...           ...        ...                ...
366968 2025-04-14  603948.SH           0.692820
366969 2025-04-15  301397.SZ           0.979996
366970 2025-04-15  603618.SH           1.006842
366971 2025-04-11  688146.SH           0.939983
366972 2025-04-11  300590.SZ           1.363916

[366973 rows x 3 columns]